* {
  box-sizing: border-box;
}

body {
  margin-top: 20px;
}

button, input[type="text"] {
  margin: 10px;
  padding: 10px;
}

button:hover {
  cursor: pointer;
}

button:hover:disabled {
  cursor: default;
}

a:link, a:visited {
  color: grey;
  font-style: italic;
  font-size: 20pt;
  margin-right: 50px;
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
}

#header {
  font-size: 30pt;
}

#rating {
  float: right;
}

#add-bookmark {
  margin-top: 30px;
  padding: 20px;
  border: 2px solid;
  width: 500px;
  height: 100%;
}

.hidden {
  display: none;
}

#bookmark-list {
  width: 250px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.bookmark-list {
  list-style: none;
  padding-left: 0;
}

.bookmark-list > li {
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 25px;
  border: 2px solid;
  width: 500px;
  height: 100%;
}

.bookmark-description {
  font-size: 14pt;
}

.error-content {
  position: fixed;
  top: 15px;
  right: 20px;
  border: 2px solid red;
  background-color: lightsalmon;
}

.error-content p {
  margin-top: 1px;
  padding: 7px;
}

.error-content button {
  font-size: 6pt;
  background-color: red;
  color: white;
  position: relative;
  left: 80%;
}

.rating-stars {
  font-size: 30pt;
}
